<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="main.css" rel="stylesheet">
</head>

<body>

<header>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">Heart-Stone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">My Profile</a>
                </li>
                <li class="nav-item">
                    <form name="logout" action="/logout" method="post">
                        <button class="btn btn-danger" id="logout" type="submit">Logout</button>
                    </form>
                </li>

            </ul>
        </div>
    </nav>

</header>
<main role="main" class="container ">

    <div class="search" style="margin: 100px 5px">
        <form action="#" method="post">

            <input id=“search” type="text"  placeholder=" posts">
<!--            <input type="submit" value="search">-->
            <a  class="btn btn-primary btn-sm" href="/">Search</a>
        </form>
    </div>
    <div>
        <h1>your beautiful life!</h1>
        <h5>Meet what you want</h5>
        <h5>Share your beautiful life</h5>
        <h5>Explore the unknown life</h5>
    </div>
    <br>
    <br>
    <div>
        <a  class="btn btn-primary btn-lg" onclick="window.location.href = '/addPost'" >Post here</a>

    </div>
    <div>
        <br><br><br>
        <h3>Popular Posts</h3>
        <br>
        <br>
        <div class="list-group">
            <li class="list-group-item" th:each="post:${postList}">
                <div class="media">
                    <div class="media-heading">
                        <!--                        <input type="text" name="firstname" value="Mickey">-->
                        <h2><a th:href="@{/posts/{postId}(postId=${post.Id})}" th:text="${post.Title}">title</a></h2>
                        <h4 th:text="${post.Info}">content</h4>
                        <span class="date" th:text="${'Post on ' + post.Date}"></span>
                    </div>
                    <!-- like area -->
            <li>
                <!--<a th:onclick="likes([[${postId}]])" th:text="${post.likeCount}" class="icon solid fa-heart"></a>-->
                <button th:id="'like'+${post.Id}" th:if="${post.likes} eq 1" type="button" class="btn"
                        th:onclick="likes([[${post.Id}]])">
									<span style="color: #00827A;"
                                          th:id="'likespan'+${post.Id}"
                                          class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span
                        th:text="${post.likeCount}" th:id="'likeCount'+${post.Id}"></span>
                </button>
                <button th:id="'like'+${post.postId}" th:if="${post.likes} eq 0" type="button" class="btn"
                        th:onclick="likes([[${post.postId}]])">
									<span style="color: #00827A;"
                                          th:id="'likespan'+${post.postId}"
                                          class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <span
                        th:text="${post.likeCount}" th:id="'likeCount'+${post.Id}"></span>
                </button>
            </li>
            <!-- like area end-->
            //
            <div class="ml-auto float-right" onkeyup="getMessage()">
                <form name="handlerPostId" action="/handlerDeletePost" method="post">
                    <input type="hidden" name="with" th:value="${post.id}"/>
                    <input type="hidden" id="postUserID" th:value="${post.UserID}"/>
                    <button class="btn btn-danger" id="handlerPostId" type="submit">delete</button>
                </form>
            </div>
        </div>
        </li>

<!--                    <input type="hidden" id="messageInput" th:value="${'sssss'}"/>-->
                    <div class="ml-auto float-right" >
<!--                        <button onclick="myFunction()">TRYYY</button>-->
                        <form name= "handlerPostId" action="/handlerDeletePost" method="post" >
                        <input type="hidden" name="with" th:value="${post.id}"/>

<!--                            <input type="hidden" id="postUserID" th:value="${post.UserID}"/>-->
                            <button class="btn btn-danger" id="handlerPostId"  type="submit" >delete </button>

                        </form>
                    </div>



                </div>
            </li>
        </ul>
    </div>
</main>

<script>
    function myFunction(){

        //  var message = $(“input#messageInput”).val();
        // alert("ddddd");
        // var myName = '<%=session.getAttribute("currentUser")%>';
        // var message = $(“input#postUserID”).val();
        // var ui =document.getElementById("handlerPostId");
        alert("222");
        //
        // if(myName.getId() == message){
        //
        //     ui.style.visibility="visible";
        // }else{
        //     ui.style.visibility="hidden";
        // }
    }
</script>
</body>
</html>