.basic-info {
    margin-top: 40px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info {
    font-size: 16px;
    margin-right: 50px;
}

.info-span {
    color: inherit;
}

.span {
    font-weight: 600;
}

.info-a {
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}

.tool1 {
    height: 50%;
    width: 16%;
    float: left;
    padding-right: 20px;
    /* background-color: Green; */
}

.tool2 {
    height: 50%;
    width: 3%;
    float: left;
    padding-right: 20px;
    /* background-color: Green; */
}

.whatup {
    display: inline;
    font-weight: 600;
}

html {
    overflow-y: scroll;
}

body {

    background-repeat: no-repeat;
    background-size: 1300px 550px;
}

.search form {
    height: 42px;
}

.search input {
    width: 350px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    transition: .3s linear;
}

.search input:focus {
    width: 300px;
}

h3,
h5 {
    padding-left: 37px;
    /* background-color: yellow; */
}

.name {
    width: 60%;
    float: left;
}

.click-button {
    position: relative;
    top: 2px;
    margin-left: 300px;
}